*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
*.xcworkspacedata
xcshareddata/
xcuserdata/

*.opensdf
*.sdf
*.suo
*.ipch

.svn/
obj/
*.app/
build/

*.png
*.jpg
*.gif
*.exr

*.dae
*.stl

*.wav
*.mp3

SharedData*/
2-camamok/bin/data/calibration-*
LightLeaksRuntime
.AppleDouble

*.sln
*.vcxproj
*.rc
*.vcxproj.filters
*.vcxproj.user
*.db
*.VC.VC.opendb
*.lib
*.ilk
*.pdb
*.obj
*.dll
*.exe