<xml>
	<projectors>
		<count>3</count>
		<width>1920</width>
		<height>1200</height>
	</projectors>
	<sample>
		<singlepass>true</singlepass>
	</sample>
	<buildXyz>
		<confidenceThreshold>0.1</confidenceThreshold>
		<viewBetternes>1.5</viewBetternes>
		<scaleFactor>4</scaleFactor>
	</buildXyz>
	<osc>
		<camera>kyle.local</camera>
		<projector>halfdanj.local</projector>
	</osc>
</xml>