<xml>
	<projectors>
		<count>2</count>
		<width>1920</width>
		<height>1200</height>
	</projectors>
	<sample>
		<singlepass>1</singlepass>
	</sample>
	<buildXyz>
		<confidenceThreshold>0.05</confidenceThreshold>
		<viewBetternes>1.0</viewBetternes>
		<scaleFactor>4</scaleFactor>
	</buildXyz>
	<osc>
		<camera>kyle.local</camera>
		<projector>lightleaks.local</projector>
	</osc>
</xml>