html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #fff;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #d0d0d0;
	background-color: #484848;
	outline: none;
	padding: 2px 5px;
	border: 1px solid #868686;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #000;
}

button:focus {
	border-color: #666;
}

button[data-toggled=true]{
	background-color: #1d3cab;
	color: #dfecff;
}

h3 {
	margin: 4px 0px;
}
